
<div class="col-md-8" style="margin-left: 270px; margin-top: -30px">


    <div class="light active col-md-6" style="margin-left: 20px">
        <div class="col-md-8">

            <img style="height: 450px; width: 450px" src="./../../../assets/porto/images/SuperDev.jpg" />

        </div>
        
    </div>



    <div style="right: 30px; color: cadetblue; margin-left: 30px" class="col-md-12" >
        <h1>Teacher: Nguyễn Thuận Nghĩa</h1>
        <p style="font-size: 20px"><font style="color: red">Creator :</font> Phạm Hưng Thịnh, Trần Phương Linh</p>
        <p style="font-size: 20px"><font style="color: red" >Project Name :</font> Store Management</p>
    </div>
</div>

