<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="CapstonPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>models.MissionWorker</class>
    <class>models.ShiftWorker</class>
    <class>models.Mission</class>
    <class>models.Role</class>
    <class>models.Room</class>
    <class>models.Meeting</class>
    <class>models.Department</class>
    <class>models.ShiftSchedule</class>
    <class>models.User</class>
    <class>models.UserRole</class>
    <class>models.Notification</class>
    <class>models.ShiftDay</class>
    <class>models.Article</class>
    <class>models.Shift</class>
    <class>models.Category</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:jtds:sqlserver://localhost:1433/Hospital_Portal"/>
      <property name="javax.persistence.jdbc.user" value="sa"/>
      <property name="javax.persistence.jdbc.driver" value="net.sourceforge.jtds.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="123456"/>
    </properties>
  </persistence-unit>
</persistence>
