<div class="row" style="position: relative">
  <header class="page-header">
    <h2>Trang chủ</h2>

    <div class="right-wrapper pull-right">
      <ol class="breadcrumbs">
        <li>
          <a href="index.html">
            <i class="fa fa-home"></i>
          </a>
        </li>
      </ol>
      <a class="sidebar-right-toggle" data-open="sidebar-right">
          <i class="fa fa-chevron-left"></i>
        </a>
    </div>
  </header>
  <div class="col-md-9" style="padding: 0">

    <div class="row">
      <img src="../../assets/img/hospital-banner.jpg" class="banner" />
    </div>
    <div class="row">
      <div style="text-align: center">
        <h3>Y Đức – Chất Lượng – Thân Thiện</h3>
        <p>Với chất lượng khám chữa bệnh tiêu chuẩn quốc tế, Bệnh viện Tai Mũi Họng Sài Gòn và Phòng khám Đa Khoa Quốc Tế Sài Gòn là nơi cung cấp chất lượng dịch vụ y tế cao cấp, khám và chữa bệnh kỹ thuật cao với mục tiêu mang lại sự an toàn, tiện nghi, thoải mái và phục hồi sức khỏe tốt nhất cho khách hàng.<br/>
        <p>
            Hệ thống 3 cơ sở y tế của chúng tôi, tọa lạc tại một khu vực yên tĩnh ở trung tâm thành phố Hồ Chí Minh trên đường Trịnh Văn Cấn, Phường Cầu Ông Lãnh, Quận 1, được quản lý bằng công nghệ thông tin mang lại sự an toàn, tiện lợi cho việc quản lý hồ sơ, truy cập và tham khảo bệnh sử, giúp việc khám chữa bệnh nhanh chóng, chính xác và bảo mật. Mỗi bệnh nhân khi đến khám bệnh được cấp thẻ từ, mã vạch, mã y tế và kèm ảnh nhận diện giúp đảm bảo không xảy ra tình trạng nhầm lẫn.</p>
        <br/>
        <p>
            Bệnh viện Tai Mũi Họng Sài Gòn và Phòng khám Đa Khoa Quốc Tế Sài Gòn đang xây dựng hoạt động theo tiêu chuẩn JCI của Hoa Kỳ, nhằm đạt chất lượng phục vụ chuyên nghiệp, đem đến sự hoàn hảo trong cung cấp dịch vụ y tế chất lượng cao.</p>
        <br/>
        <p>
            Chúng tôi tự hào luôn lấy Y Đức – Chất lượng – Thân thiện cùng với bản sắc “ Văn hóa Tai Mũi Họng Sài Gòn “ làm nền tảng để đội ngũ Bác sĩ, Điều dưỡng và Nhân viên mang lại sự hài lòng cho người bệnh.</p>
        <br/>
        <div class="row">
            <img src="../../assets/img/bv.jpg" class="banner"/>
          </div>
        <h3>Tầm nhìn của chúng tôi</h3>
        <p>
            Là nhà cung cấp dịch vụ Chăm sóc Sức khỏe Toàn diện hàng đầu Việt Nam cho Khách hàng và Gia đình.
            </p>
           <h3>Sứ mệnh của Tập thể Nhân viên</h3> 
            <p>
            Góp phần đảm bảo chất lượng cuộc sống cộng đồng bằng những dịch vụ chăm sóc sức khỏe hiện đại dựa trên Y học chứng cứ, theo đúng tiêu chí Y đức – Chất lượng – Thân thiện,
            </p>
           <h3> Giá trị Cốt lõi vì Lợi ích Người bệnh</h3>
            <p>
            1.  Bệnh viện Tai Mũi Họng Sài Gòn và Phòng khám Đa Khoa Quốc Tế Sài Gòn luôn lấy Khách hàng làm Trung tâm.
            2.  Đội ngũ Bác sĩ, Điều dưỡng Y đức, Chuyên môn cao và Tận tụy vì sức khỏe người bệnh.
            3.  Tập thể Nhân viên Thân thiện, Tôn trọng và Hết lòng vì người bệnh.
            4.  Chất lượng khám chữa bệnh luôn tuân thủ theo Tiêu chuẩn Quốc Tế.
            5.  Trang thiết bị Y tế kỹ thuật cao, hiện đại, đáp ứng nhu cầu chẩn đoán, chữa trị và chăm sóc sức khỏe của Khách hàng và Gia đình.
        </p>
      </div>
      <hr/>
          
      <div class="row" style="text-align: center">
        <h3>Liên Hệ</h3>
        <p>Địa chỉ  : Công Viên Phần Mềm Quang Trung, Q12</p>
        <p>Số điện thoại : 0823456789</p>
        <p>Email  : hospital@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 ad" style="position: fixed; right:0">
    <div class="row">
      <a href="https://www.facebook.com">
        <img src="../../assets/img/facebook.png" class="img-responsive" />
      </a>
    </div>
    <div class="row">
      <img src="../../assets/img/adv.jpg" style="width:100%"/>
    </div>
  </div>
</div>