<form [formGroup]='statusFormGroup' #statusNgForm='ngForm' (submit)='handleSubmit($event, statusNgForm, statusFormGroup)'>

  <div class="form-group">
    <label for="file">Choose File</label>
    <input #myInput type="file" id="file" (change)="handleFileInput($event.target.files)">
  </div>

  <textarea id='fileDescription' name='fileDescription' formControlName='fileDescription'></textarea>

  <div *ngIf='fileDescription.invalid && (fileDescription.dirty || fileDescription.touched)'>
    <div *ngIf='fileDescription.errors.required'>
      Content is required.
    </div>
    <div *ngIf='fileDescription.errors.maxlength'>
      Max length is 280
    </div>
    <div *ngIf='fileDescription.errors.minlength'>
      Min length is 4
    </div>
  </div>


  <button type='submit' class='btn btn-default' [disabled]='statusFormGroup.invalid'>Submit</button>
  <button type='button' class='btn btn-default' (click)='statusNgForm.resetForm({})'>Reset</button>
</form>


Progress:
<div>
  <span *ngIf='uploadProgress > 25'>%</span>
</div>