<!-- This is User Detail Page
<test-selector></test-selector> -->
<div class="row">
    <div class="col-lg-12">
        <div action="forms-validation.html" class="form-horizontal">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>

                    <h2 class="panel-title">{{title}}</h2>
                    <!-- <p class="panel-subtitle">
                        Basic validation will display a label with the error after the form control.
                    </p> -->
                </header>
                <form [formGroup]="form" (ngSubmit)="onFormSubmit(form.value)">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Room name
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" formControlName="roomName" class="form-control" required/>

                                <div class="form-control-feedback" *ngIf="roomName.invalid && (roomName.dirty || roomName.touched)" class="alert alert-danger"
                                    style="margin-top: 10px">
                                    <strong *ngIf="roomName.errors.required">Name is required.</strong>
                                    <strong *ngIf="roomName.errors.minlength">Name must be at least 4 characters long.</strong>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Room size
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="number" formControlName="roomSize" class="form-control" required min="1" />

                                <div class="form-control-feedback" *ngIf="roomSize.invalid && (roomSize.dirty || roomSize.touched)" class="alert alert-danger"
                                    style="margin-top: 10px">
                                    <strong *ngIf="roomSize.errors.required">Size is required.</strong>
                                </div>
                            </div>
                        </div>

                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-primary" [disabled]="!form.valid">
                                    <i class="fa fa-floppy-o"></i>
                                    Save</button>
                                <button class="btn btn-default" (click)="back()">
                                    <i class="fa fa-undo"></i>
                                    Back</button>
                            </div>
                        </div>
                    </footer>
                </form>
            </section>
        </div>
    </div>
</div>