<section class="panel panel-danger">
    <header class="panel-heading">
        <div class="panel-actions">
           
        </div>
        <div>
            <h2 class="panel-title">{{notificationName}}</h2>
        </div>
    </header>
    <div class="panel-body">
        <code>{{updateDate | date: 'dd/MM/yyyy'}}</code>
        <div id="article">
         <div [innerHTML]="content"></div>
            <br/>
            <div>             
                <!-- <h5 style="color: black">Author: {{notification.uploadByName}}</h5> -->
            </div>
        </div>
    </div>
</section>