<section class="body-sign">
    <div class="center-sign">
        <a href="/" class="logo pull-left">
            <img src="assets/porto/images/logo1.png" height="45" alt="Logo" />
        </a>

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-weight-bold m-none">
                    <i class="fa fa-user mr-xs"></i>Đăng nhập</h2>
            </div>
            <div class="panel-body">
                <div class="form-group mb-lg">
                    <label>Tên người dùng</label>
                    <div class="input-group input-group-icon">
                        <input name="username" type="text" class="form-control input-lg" [(ngModel)]="username" />
                        <span class="input-group-addon">
                            <span class="icon icon-lg">
                                <i class="fa fa-user"></i>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group mb-lg">
                    <div class="clearfix">
                        <label class="pull-left">Mật khẩu</label>
                    </div>
                    <div class="input-group input-group-icon">
                        <input name="pwd" type="password" class="form-control input-lg" [(ngModel)]="password" />
                        <span class="input-group-addon">
                            <span class="icon icon-lg">
                                <i class="fa fa-lock"></i>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="checkbox-custom checkbox-default">
                            <input id="RememberMe" name="rememberme" type="checkbox" />
                            <label for="RememberMe">Nhớ mật khẩu</label>
                        </div>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button type="button" class="btn btn-primary hidden-xs" (click)="login()">Đăng nhập</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>