<div class="row">
  <div class="col-xs-12">
    <section class="panel">
      <header class="panel-heading">
        <div class="panel-actions">
          <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
          <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
        </div>

        <h2 class="panel-title">File Upload Drag'n Drop</h2>
      </header>
      <div class="panel-body">
        Upload File
        <input type="file" accept=".docx, .pdf" (change)="filechange($e)"/>
      </div>
    </section>
  </div>
</div>