<section class="panel">
  <header class="panel-heading">
    <div class="panel-actions">
      <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
      <!-- <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a> -->
    </div>
    <h2 class="panel-title">Manage Meeting</h2>
  </header>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-md">
          <button class="btn btn-primary" [routerLink]="['/main/meeting-detail',0]">Add
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="tabs tabs-primary">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#popular1" data-toggle="tab">
            <i class="fa fa-star"></i> Waiting Meeting</a>
        </li>
        <li>
          <a href="#recent1" data-toggle="tab">Checked Meeting</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="popular1" class="tab-pane active">
          <div class="table-responsive">
            <table class="table">
              <colgroup>
                <col />
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col width="50px" />
              </colgroup>
              <thead>
                <tr>
                  <th>Meeting name</th>
                  <th>Room</th>
                  <th>Date</th>
                  <th>Start Time</th>
                  <th>End time</th>
                  <th>Status</th>
                  <th class="hidden-phone"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let meeting of waitingMeetings" class="gradeX">
                  <td>{{meeting.meetingName}}</td>
                  <td>{{meeting.roomName}}</td>
                  <td>{{meeting.date}}</td>
                  <td>{{meeting.startTime}}</td>
                  <td>{{meeting.duration}}</td>
                  <!-- <td class="text-center">{{user.CreatedDate | date:'dd/MM/yyyy'}}</td> -->
                  <td class="text-center">
                    <div *ngIf="meeting.status == 1" class="grid-status" [ngClass]="{'bg-warning':meeting.status == 1,'bg-success':meeting.status == 2,'bg-danger':meeting.status == 3}"
                      mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="" [confirmText]="confirmDenyText"
                      [cancelText]="confirmAcceptText" [placement]="placement" (confirm)="denyWaitingMeetings(meeting)" (cancel)="acceptWaitingMeetings(meeting)"
                      confirmButtonType="danger" cancelButtonType="success" (click)="confirmClicked = false; cancelClicked = false"
                      [appendToBody]="true">
                      {{meeting.status == 1?'Waiting':''}} {{meeting.status == 2?'Accept':''}} {{meeting.status == 3?'Deny':''}}
                    </div>

                  </td>
                  <td align="center">
                    <a>
                      <i style="cursor:pointer" class="fa fa-pencil-square-o" (click)="detail(meeting)"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
        <div id="recent1" class="tab-pane">
          <div class="table-responsive">
            <table class="table table-bordered table-striped mb-none">
              <colgroup>
                <col />
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col width="50px" />
              </colgroup>
              <thead>
                <tr>
                  <th>Meeting name</th>
                  <th>Room</th>
                  <th>Date</th>
                  <th>Start Time</th>
                  <th>End time</th>
                  <th>Status</th>
                  <th class="hidden-phone"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let meeting of checkedMeetings" class="gradeX">
                  <td>{{meeting.meetingName}}</td>
                  <td>{{meeting.roomName}}</td>
                  <td>{{meeting.date}}</td>
                  <td>{{meeting.startTime}}</td>
                  <td>{{meeting.duration}}</td>
                  <!-- <td class="text-center">{{user.CreatedDate | date:'dd/MM/yyyy'}}</td> -->
                  <td class="text-center">

                    <div *ngIf="meeting.status == 2" class="grid-status" [ngClass]="{'bg-warning':meeting.status == 1,'bg-success':meeting.status == 2,'bg-danger':meeting.status == 3}"
                      mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" [confirmText]="confirmDenyText"
                      [cancelText]="cancelText" [placement]="placement" (confirm)="switchStatusCheckedMeetings(meeting)" (cancel)="cancelClicked = true"
                      confirmButtonType="danger" cancelButtonType="default" (click)="confirmClicked = false; cancelClicked = false"
                      [appendToBody]="true">
                      {{meeting.status == 1?'Waiting':''}} {{meeting.status == 2?'Accept':''}} {{meeting.status == 3?'Deny':''}}
                    </div>

                    <div *ngIf="meeting.status == 3" class="grid-status" [ngClass]="{'bg-warning':meeting.status == 1,'bg-success':meeting.status == 2,'bg-danger':meeting.status == 3}"
                      mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" [confirmText]="confirmAcceptText"
                      [cancelText]="cancelText" [placement]="placement" (confirm)="switchStatusCheckedMeetings(meeting)" (cancel)="cancelClicked = true"
                      confirmButtonType="success" cancelButtonType="default" (click)="confirmClicked = false; cancelClicked = false"
                      [appendToBody]="true">
                      {{meeting.status == 1?'Waiting':''}} {{meeting.status == 2?'Accept':''}} {{meeting.status == 3?'Deny':''}}
                    </div>
                  </td>
                  <td align="center">
                    <a>
                      <i style="cursor:pointer" class="fa fa-pencil-square-o" (click)="detail(meeting)"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>