<section class="panel">
  <header class="panel-heading">
    <div class="panel-actions">
      <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
      <!-- <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a> -->
    </div>
    <h2 class="panel-title">Manage Meeting</h2>
  </header>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-md">
          <button class="btn btn-primary" [routerLink]="['/main/meeting-detail',0]">Add
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>

    
    <div class="tabs tabs-primary">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#popular1" data-toggle="tab">
            <i class="fa fa-star"></i> Waiting Meeting</a>
        </li>
        <li>
          <a href="#recent1" data-toggle="tab">Checked Meeting</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="popular1" class="tab-pane active">
          <div class="table-responsive">
            <table class="table  " id="datatable-tabletools">
              <colgroup>
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />

                <col width="50px" />
                <col width="50px" />
              </colgroup>
              <thead>
                <tr>
                  <th>Meeting name</th>
                  <th>Room</th>
                  <th>Date</th>
                  <th>Start Time</th>
                  <th>Duration</th>

                  <th>Update Date</th>
                  <th>Status</th>
                  <th class="hidden-phone"></th>
                  <th class="hidden-phone"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let meeting of waitingMeetings" class="gradeX">
                  <td>{{meeting.meetingName}}</td>
                  <td>{{meeting.roomName}}</td>
                  <td>{{meeting.date}}</td>
                  <td>{{meeting.startTime}}</td>
                  <td>{{meeting.duration}}</td>
                  <td>{{meeting.updateDate}}</td>
                  <td>{{meeting.status}}</td>
                  <!-- <td class="text-center">{{user.CreatedDate | date:'dd/MM/yyyy'}}</td> -->
                  <!-- <td class="text-center">
                                        <span [ngClass]="{'bg-primary':user.IsActived,'bg-danger':!user.IsActived}"> 
                
                                        <div class="grid-status" [ngClass]="{'bg-primary':user.IsActived,'bg-danger':!user.IsActived}">
                
                                            {{user.IsActived?'Hoạt động':'Khóa'}}
                                        </div>
                                    </td> -->
                  <td align="center">
                    <a>
                      <i style="cursor:pointer" class="fa fa-pencil-square-o" (click)="detail(department)"></i>
                    </a>
                  </td>
                  <td align="center">
                    <a class="text-danger remove-row">
                      <i style="cursor:pointer" class="fa fa-trash-o text-danger" (click)="delete(department)"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
        <div id="recent1" class="tab-pane">
            <div class="table-responsive">
          <table class="table table-bordered table-striped mb-none" id="datatable-tabletools2">
            <colgroup>
              <col width="150px" />
              <col width="150px" />
              <col width="150px" />
              <col width="150px" />
              <col width="150px" />
              <col width="150px" />

              <col width="50px" />
              <col width="50px" />
            </colgroup>
            <thead>
              <tr>
                <th>Meeting name</th>
                <th>Room</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>Duration</th>

                <th>Update Date</th>
                <th>Status</th>
                <th class="hidden-phone"></th>
                <th class="hidden-phone"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let meeting of checkedMeetings" class="gradeX">
                <td>{{meeting.meetingName}}</td>
                <td>{{meeting.roomName}}</td>
                <td>{{meeting.date}}</td>
                <td>{{meeting.startTime}}</td>
                <td>{{meeting.duration}}</td>
                <td>{{meeting.updateDate}}</td>
                <td>{{meeting.status}}</td>
                <!-- <td class="text-center">{{user.CreatedDate | date:'dd/MM/yyyy'}}</td> -->
                <!-- <td class="text-center">
                                            <span [ngClass]="{'bg-primary':user.IsActived,'bg-danger':!user.IsActived}"> 
                    
                                            <div class="grid-status" [ngClass]="{'bg-primary':user.IsActived,'bg-danger':!user.IsActived}">
                    
                                                {{user.IsActived?'Hoạt động':'Khóa'}}
                                            </div>
                                        </td> -->
                <td align="center">
                  <a>
                    <i style="cursor:pointer" class="fa fa-pencil-square-o" (click)="detail(department)"></i>
                  </a>
                </td>
                <td align="center">
                  <a class="text-danger remove-row">
                    <i style="cursor:pointer" class="fa fa-trash-o text-danger" (click)="delete(department)"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  
</section>
