<!-- This is User Detail Page
<test-selector></test-selector> -->
<div class="row">
    <div class="col-lg-12">
        <div action="forms-validation.html" class="form-horizontal">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>
                    <h2 class="panel-title">{{title}}</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Meeting name
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-7">
                            <input type="text" [(ngModel)]="meeting.meetingName" class="form-control" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Room
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-7">
                            <select class="form-control" [(ngModel)]="meeting.roomId">
                                <option *ngFor="let room of rooms" [ngValue]="room.roomId">{{room.roomName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Start time</label>
                        <div class="col-md-7">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input [(ngModel)]="meeting.startTime" type="time" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Duration</label>
                        <div class="col-md-7">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input [(ngModel)]="meeting.duration" type="time" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Date</label>
                        <div class="col-md-7">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input [(ngModel)]="meeting.date" type="date" class="form-control">
                            </div>
                        </div>
                    </div>                    

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="textareaDefault">Content</label>
                        <div class="col-md-7">
                            <textarea class="form-control" [(ngModel)]="meeting.content" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="textareaDefault">Note</label>
                        <div class="col-md-7">
                            <textarea class="form-control" [(ngModel)]="meeting.note" rows="3"></textarea>
                        </div>
                    </div>

                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary" (click)="save()">
                                <i class="fa fa-floppy-o"></i>
                                Save</button>
                            <button class="btn btn-default" (click)="back()">
                                <i class="fa fa-undo"></i>
                                Back</button>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>