<section class="panel">
  <!-- Modal LG -->
  <div id="modalLG" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{selectMeeting.meetingName}} </h4>
        </div>
        <div class="modal-body">
          <div class="modal-wrapper">
            <div class="modal-text">
              <div class="form-group">
                <h4>
                  <p>
                    <strong>Start Time :</strong> {{selectMeeting.startTime}} (
                    <strong>End time :</strong> {{selectMeeting.duration}})</p>
                </h4>
                <h4>
                  <p>
                    <strong>Date :</strong> {{selectMeeting.date}}</p>
                </h4>
                <h4>
                  <p>
                    <strong>At room :</strong> {{selectMeeting.roomName}}</p>
                </h4>
                <h4>
                  <p>
                    <strong>Content :</strong> {{selectMeeting.content}}</p>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
    <!-- <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title">{{selectMeeting.meetingName}}</h2>
      </header>
      <div class="panel-body">
        <div class="modal-wrapper">
          <div class="modal-text">
            <div class="form-group">
              <h4>
                <p>
                  <strong>Time :</strong> {{selectMeeting.startTime}} (
                  <strong>Duration :</strong> {{selectMeeting.duration}})</p>
              </h4>
              <h4>
                <p>
                  <strong>Date :</strong> {{selectMeeting.date}}</p>
              </h4>
              <h4>
                <p>
                  <strong>At room :</strong> {{selectMeeting.roomName}}</p>
              </h4>
              <h4>
                <p>
                  <strong>Content :</strong> {{selectMeeting.content}}</p>
              </h4>

            </div>
          </div>
        </div>
      </div>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-md-12 text-right">

            <button class="btn btn-default modal-dismiss">Close</button>
          </div>
        </div>
      </footer>
    </section> -->
  </div>


  <div class="tabs">
    <ul class="nav nav-tabs nav-justified">
      <li class="active">
        <a href="#popular10" data-toggle="tab" class="text-center" aria-expanded="true">
          <i class="fa fa-star"></i> In coming</a>
      </li>
      <li class="">
        <a href="#recent10" data-toggle="tab" class="text-center" aria-expanded="false">Quick Search</a>
      </li>
      <li class="">
        <a href="#recent20" data-toggle="tab" class="text-center" aria-expanded="false">Pass</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="popular10" class="tab-pane active">
        <div class="timeline">
          <div class="tm-body">

            <ol class="tm-items">
              <li *ngFor="let meeting of futureMeetings">
                <div class="tm-info">
                  <div></div>
                  <time class="tm-datetime" datetime="2013-11-22 19:13">
                    <div class="tm-datetime-time">{{meeting.date}}</div>
                    <div class="tm-datetime-time">{{meeting.startTime}}</div>

                  </time>
                </div>
                <div class="tm-box appear-animation fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="100"
                  style="animation-delay: 100ms;">
                  <h2>{{meeting.meetingName}}</h2>
                  <div class="tm-meta">
                    <div>
                      <p>
                        {{meeting.content}}
                      </p>
                      <a class="mb-xs mt-xs mr-xs modal-sizes btn btn-default" (click)="view(meeting)">View</a>
                    </div>
                    <span>
                      <i class="glyphicon glyphicon-map-marker"></i> At:
                      <a>{{meeting.roomName}}</a>
                    </span>
                    <span>
                      <i class="fa fa-hourglass"></i> Duration: {{meeting.duration}}
                    </span>

                  </div>
                </div>
              </li>


            </ol>
          </div>
        </div>

        <button [ngClass]="{'hidden':(futureMeetings.length<(fPage*3))}" class=" mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block"
          (click)="loadFuture()"> Show more</button>


      </div>
      <div id="recent10" class="tab-pane ">

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-6 panel-body">
            <div class="input-group " style="padding: 10px">
              <span style="width: 70px;" class="input-group-addon">
                from
              </span>
              <input type="date" class="form-control" [(ngModel)]="fromDate" (change)="from()">
            </div>
            <div class="input-group" style="padding: 10px">
              <span style="width: 70px;" class="input-group-addon">
                to
              </span>
              <input type="date" class="form-control" [(ngModel)]="toDate" (change)="to()">
            </div>
            <button type="button" class="btn btn-primary" style="margin-left: 10px;" (click)=search()>Search</button>
          </div>
        </div>
        <div class="timeline">
          <div class="tm-body">

            <ol class="tm-items">
              <li *ngFor="let meeting of meetingInRange">
                <div class="tm-info">
                  <div></div>
                  <time class="tm-datetime" datetime="2013-11-22 19:13">
                    <div class="tm-datetime-time">{{meeting.date}}</div>
                    <div class="tm-datetime-time">{{meeting.startTime}}</div>
                  </time>
                </div>
                <div class="tm-box appear-animation fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="100"
                  style="animation-delay: 100ms;">
                  <h2>{{meeting.meetingName}}</h2>
                  <div class="tm-meta">
                    <div>
                      <p>
                        {{meeting.content}}
                      </p>
                      <a class="mb-xs mt-xs mr-xs modal-sizes btn btn-default" (click)="view(meeting)">View</a>
                    </div>
                    <span>
                      <i class="glyphicon glyphicon-map-marker"></i> At:
                      <a>{{meeting.roomName}}</a>
                    </span>
                    <span>
                      <i class="fa fa-hourglass"></i> Duration: {{meeting.duration}}
                    </span>

                  </div>
                </div>
              </li>


            </ol>
          </div>
        </div>

      </div>
      <div id="recent20" class="tab-pane ">
        <div class="timeline">
          <div class="tm-body">
            <!-- <div class="tm-title">
                                        <h3 class="h5 text-uppercase">November 2013</h3>
                                    </div> -->
            <ol class="tm-items">
              <li *ngFor="let meeting of passMeetings">
                <div class="tm-info">
                  <div></div>
                  <time class="tm-datetime" datetime="2013-11-22 19:13">
                    <div class="tm-datetime-time">{{meeting.date}}</div>
                    <div class="tm-datetime-time">{{meeting.startTime}}</div>
                  </time>
                </div>
                <div class="tm-box appear-animation fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="100"
                  style="animation-delay: 100ms;">
                  <h2>{{meeting.meetingName}}</h2>
                  <div class="tm-meta">
                    <div>
                      <p>
                        {{meeting.content}}
                      </p>
                      <a class="mb-xs mt-xs mr-xs modal-sizes btn btn-default" (click)="view(meeting)">View</a>
                    </div>
                    <span>
                      <i class="glyphicon glyphicon-map-marker"></i> At:
                      <a>{{meeting.roomName}}</a>
                    </span>
                    <span>
                      <i class="fa fa-hourglass"></i> Duration: {{meeting.duration}}
                    </span>

                  </div>
                </div>
              </li>


            </ol>
          </div>
        </div>
        <button type="button" [ngClass]="{'hidden':(passMeetings.length<(pPage*3))}"
        class=" mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block" (click)="loadPass()">Show more</button>

      </div>

    </div>


  </div>

</section>