<section class="panel">
        <div class="timeline">
                <div class="tm-body">
                    <!-- <div class="tm-title">
                        <h3 class="h5 text-uppercase">November 2013</h3>
                    </div> -->
                    <ol class="tm-items" >
                        <li *ngFor="let meeting of meetings"  >
                            <div class="tm-info">
                                <div class="tm-icon"><i class="fa fa-star"></i></div>
                                <time class="tm-datetime" datetime="2013-11-22 19:13">
                                    <div class="tm-datetime-date">{{meeting.startTime}}</div>
                                    <div class="tm-datetime-time">{{tm-datetime-date}}</div>
                            </time>
                            </div>
                            <div class="tm-box appear-animation fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="100" style="animation-delay: 100ms;">
                                <p>
                                        {{meeting.content}}
                                </p>
                                <div class="tm-meta">
                                    <span>
                                        <i class="fa fa-user"></i> By <a href="#">John Doe</a>
                                    </span>
                                    <span>
                                        <i class="fa fa-tag"></i> <a href="#">Porto</a>, <a href="#">Awesome</a>
                                    </span>
                                    <span>
                                        <i class="fa fa-comments"></i> <a href="#">5652 Comments</a>
                                    </span>
                                </div>
                            </div>
                        </li>
                        
                       
                    </ol>
             </div>
             </div>
                   
    </section>