<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
        </div>
        <h2 class="panel-title">User list</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    <button class="btn btn-primary" [routerLink]="['/main/user-detail',0]">Add
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="col-sm-3 control-label">
                    <h5>
                        <strong>Search: </strong>
                    </h5>
                </label>
                <div class="col-sm-9">
                    <div class="mb-md">
                        <input type="text" [(ngModel)]="term" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="col-sm-3 control-label">
                    <h5>
                        <strong>Search: </strong>
                    </h5>
                </label>
                <div class="col-sm-9">
                    <div class="mb-md">
                        <input type="text" [(ngModel)]="term" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-md-offset-3">
                <label class="col-sm-3 control-label">
                    <h5>
                        <strong>Department: </strong>
                    </h5>
                </label>
                <div class="col-sm-9">
                    <select class="form-control">
                        <option *ngFor="let dept of departments" [ngValue]="dept.departmentId">{{dept.departmentName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped mb-none display" id="example">
            <colgroup>
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col width="150px" />
                <col />
                <col width="150px" />
                <col width="50px" />
            </colgroup>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full name</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th>Role</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <!-- <th class="hidden-phone">Status</th> -->
                    <th class="hidden-phone"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | filter:term | paginate: { itemsPerPage: 10, currentPage: p } " class="gradeX">
                    <td>{{user.userName}}</td>
                    <td>{{user.fullName}}</td>
                    <td>{{user.departmentName}}</td>
                    <td>{{user.position}}</td>
                    <td>{{user.roleName}}</td>
                    <td>{{user.phone}}</td>
                    <!-- <td class="text-center">{{user.CreatedDate | date:'dd/MM/yyyy'}}</td> -->
                    <td class="text-center">
                        <!-- <span [ngClass]="{'bg-primary':user.IsActived,'bg-danger':!user.IsActived}">  -->

                        <div class="grid-status" [ngClass]="{'bg-primary': user.status == 1, 'bg-danger': user.status == 2 }" (click)="switchStatus(user)">
                            {{user.status == 1? 'Active':'Disable'}}
                        </div>
                    </td>
                    <td align="center">
                        <a>
                            <i style="cursor:pointer" class="fa fa-pencil-square-o" (click)="detail(user)"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-4 col-md-offset-8" style="padding-top: 20px;">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>


    </div>
</section>