<!-- This is User Detail Page
<test-selector></test-selector> -->
<div class="row">
    <div class="col-lg-12">
        <div action="forms-validation.html" class="form-horizontal">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                    </div>

                    <h2 class="panel-title">{{title}}</h2>
                    <!-- <p class="panel-subtitle">
                        Basic validation will display a label with the error after the form control.
                    </p> -->
                </header>
                <form [formGroup]="form" (ngSubmit)="onFormSubmit(form.value)">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Username
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input [disabled]="id == 0" name="slot" type="text" class="form-control" formControlName="userName" appForbiddenName="bob" required />

                                <div class="form-control-feedback" *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger"
                                    style="margin-top: 10px">
                                    <strong *ngIf="userName.errors.required">Name is required.</strong>
                                    <strong *ngIf="userName.errors.minlength">Name must be at least 4 characters long.</strong>
                                    <strong *ngIf="userName.errors.forbiddenName">Name cannot be Bob.</strong>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="email" class="form-control" formControlName="email" required/>

                                <div class="form-group" *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger" style="margin-top: 10px">
                                    <strong *ngIf="email.errors.required">Email is required.</strong>
                                    <strong *ngIf="email.errors.email">Email is invalid.</strong>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Full name
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" formControlName="fullName" required/>
                                <div class="form-group" *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="alert alert-danger" style="margin-top: 10px">
                                    <strong *ngIf="fullName.errors.required">Fullname is required.</strong>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Sex
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <div class="radio-custom">
                                    <input type="radio" formControlName="sex" value="Male" name="sex">
                                    <label>Male</label>
                                </div>

                                <div class="radio-custom">
                                    <input type="radio" formControlName="sex" value="Female" name="sex">
                                    <label>Female</label>
                                </div>
                                <div class="form-group" *ngIf="sex.invalid && (sex.dirty || sex.touched)" class="alert alert-danger" style="margin-top: 10px">
                                    <strong *ngIf="sex.errors.required">Sex is required.</strong>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Day of birth</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input formControlName="dayOfBirth" type="date" class="form-control">
                                </div>
                                <div class="form-group" *ngIf="dayOfBirth.invalid && (dayOfBirth.dirty || dayOfBirth.touched)" class="alert alert-danger"
                                    style="margin-top: 10px">
                                    <strong *ngIf="dayOfBirth.errors.required">Day of birth is required.</strong>
                                    <strong *ngIf="dayOfBirth.errors.temp">Invalid Date</strong>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Department
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <select formControlName="departmentId" class="form-control">
                                    <option *ngFor="let dept of departments" [ngValue]="dept.departmentId">{{dept.departmentName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="tel" formControlName="phone" class="form-control" required/>

                                <div class="form-group" *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger" style="margin-top: 10px">
                                    <strong *ngIf="phone.errors.required">Phone is required.</strong>
                                    <strong *ngIf="phone.errors.pattern">Phone is invalid.</strong>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Position
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <select formControlName="position" class="form-control">
                                    <option value="Doctor">Doctor</option>
                                    <option value="Nurse">Nurse</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-7">
                                <input type="text" formControlName="address" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Certificate</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" formControlName="certificate" rows="3" id="textareaDefault"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Role
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <select formControlName="roleId" class="form-control">
                                    <option *ngFor="let role of roles" [ngValue]="role.roleId">{{role.roleName}}</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                                    <i class="fa fa-floppy-o"></i>
                                    Save</button>
                                <button class="btn btn-default" (click)="back()">
                                    <i class="fa fa-undo"></i>
                                    Back</button>
                            </div>
                        </div>
                    </footer>
                </form>
            </section>
        </div>
    </div>
</div>