<!-- This is User Detail Page
<test-selector></test-selector> -->
<div class="row">
    <div class="col-lg-12">
        <div action="forms-validation.html" class="form-horizontal">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                    </div>

                    <h2 class="panel-title">{{title}}</h2>
                    <!-- <p class="panel-subtitle">
                        Basic validation will display a label with the error after the form control.
                    </p> -->
                </header>
                <div class="panel-body">
                    <form [formGroup]="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Username
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" [(ngModel)]="user.userName" class="form-control" formControlName="userName" appForbiddenName="bob" required/>

                                <div class="form-group" *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">

                                    <label class="col-sm-3 control-label" *ngIf="userName.errors.required">Username
                                        <span class="required">*</span>
                                    </label>
                                    <div class="form-group" *ngIf="userName.errors.required">
                                        Name is required.
                                    </div>
                                    <div class="form-group" *ngIf="userName.errors.minlength">
                                        Name must be at least 4 characters long.
                                    </div>
                                    <div class="form-group" *ngIf="userName.errors.forbiddenName">
                                        Name cannot be Bob.
                                    </div>

                                </div>
                            </div>
                        </div>



                        <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">Password
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-9">
                            <input type="password" [(ngModel)]="user.password" class="form-control" required/>
                        </div>
                    </div> -->
                        <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">Nhập lại mật khẩu
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-9">
                            <input type="password" [(ngModel)]="user.Password" class="form-control" required/>
                        </div>
                    </div> -->
                        <!-- <div class="form-group">
                        <label class="col-md-3 control-label">Avatar</label>
                        <div class="col-md-6">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <div class="uneditable-input">
                                        <i class="fa fa-file fileupload-exists"></i>
                                        <span [(ngModel)]="user.avatar" class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-exists">Change</span>
                                        <span class="fileupload-new">Select file</span>
                                        <input type="file" />
                                    </span>
                                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" [(ngModel)]="user.email" class="form-control" placeholder="Eg.: John Doe" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Full name
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" [(ngModel)]="user.fullName" class="form-control" placeholder="Eg.: John" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Sex
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <div class="radio-custom">
                                    <input type="radio" [(ngModel)]="user.sex" value="Male" name="radioExample">
                                    <label>Male</label>
                                </div>

                                <div class="radio-custom">
                                    <input type="radio" [(ngModel)]="user.sex" value="Female" name="radioExample">
                                    <label>Female</label>
                                </div>

                            </div>
                        </div>
                        <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">Email
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="email" [(ngModel)]="user.Email" class="form-control" placeholder="eg.: email@email.com" required/>
                            </div>
                        </div>
                        <div class="col-sm-9">

                        </div>
                    </div> -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Day of birth</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input [(ngModel)]="user.dayOfBirth" type="text" data-plugin-datepicker class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Department
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <select [(ngModel)]="user.departmentId" class="form-control">
                                    <option *ngFor="let department of departments" [ngValue]="department.departmentId">{{department.departmentName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" [(ngModel)]="user.phone" class="form-control" placeholder="Eg.: John Doe" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Position
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <select [(ngModel)]="user.position" class="form-control">
                                    <option value="Doctor">Doctor</option>
                                    <option value="Nurse">Nurse</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" [(ngModel)]="user.address" class="form-control" placeholder="Eg.: John Doe" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Certificate
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <textarea class="form-control" [(ngModel)]="user.certificate" rows="3" id="textareaDefault"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Role
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <select [(ngModel)]="user.roleId" class="form-control">
                                    <option *ngFor="let role of roles" [ngValue]="role.roleId">{{role.roleName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-7">
                                <div class="checkbox-custom checkbox-default">
                                    <input [(ngModel)]="user.status" type="checkbox" *ngIf="user.status == 1 checked">
                                    <label>Active</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary" (click)="save()">
                                <i class="fa fa-floppy-o"></i>
                                Save</button>
                            <button class="btn btn-default" (click)="back()">
                                <i class="fa fa-undo"></i>
                                Back</button>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>