<section role="main" class="panel">
    <header class="panel-heading">
      <div class="panel-actions">

      </div>
      <h2 class="panel-title">ShiftScheduler list</h2>
    </header>

  
    <div class="panel-body">
        <div class="form-group ">
        <div class="form-group col-sm-6">
        <div class="form-group">
            <label  [ngClass]="{'bg-danger':department==0}" class=" control-label">Department
            </label >
            <div >
                <select class="form-control = " [(ngModel)]=department aria-placeholder="Department">
                    <option *ngFor="let dept of departments" [ngValue]="dept.departmentId">{{dept.departmentName}}</option>
                </select>
            </div>         
        </div>
        <div class="form-group">
            <label class=" control-label" [ngClass]="{'bg-danger':((toDay==null)||(toDay==''))}">Week
            </label>
            <div class="  ">
                <input type="week"  class="form-control  "  [(ngModel)]="toDay"  (change)="con()">
            </div>
          </div>
       </div>
       <div class="form-group col-sm-6">
          <div class="form-group">
              <label class=" control-label" [ngClass]="{'bg-danger':empNumber==null}">Employee per shift
              </label>
              <div class=" ">
                  <input type="number"  class="form-control"  min="1" max="24" [(ngModel)]="empNumber" 
                  (change)="createMember()">
                </div>            
          </div>
  
       </div>
      </div>
      <div class="table-responsive ">
        <table class="table mb-none">
          <colgroup>

            <col width="150px" />
            <col width="150px" />
            <col width="150px" />
            <col width="150px" />
            <col width="150px" />
            <col width="150px" />
            <col width="150px" />
          </colgroup>
          <thead>
            <tr>
             
              <th *ngFor="let Day of shiftScheduler.shiftDayList">{{Day.dayInWeek}}<br/>{{Day.shiftDay}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>          
              <td *ngFor="let Day of shiftScheduler.shiftDayList">
                <div *ngFor="let shift of Day.shiftList" class="form-group" style="height:100%;">                
           
                  <div class="panel-body" style="padding: 2px;height:100%;" [ngClass]="{'bg-danger':(shift.shiftWorkerList.length!=empNumber),'bg-success':(shift.shiftWorkerList.length==empNumber)}">       
                   <p class="form-control">{{shift.startTime}}-{{shift.endTime}}</p>
                    <div >
                            <angular2-multiselect  [data]="dropdownList" [(ngModel)]="shift.shiftWorkerList" 
                            [settings]="dropdownSettings" 
                            (onSelect)="onItemSelect($event)" 
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"
                            (change)="validation()" >
                        </angular2-multiselect></div>
                        </div>
                </div>
         
                     </td> 
            </tr>
         
          </tbody>
         
        </table>
        <div style="height: 200px;">     
        </div>
           </div>
           <div class="panel-body" style="border-color: dimgrey" >
             <h3 class="panel-title">Add shift</h3>
             <div class="form-group col-sm-6">
              <div class="form-group">
                  <label class=" control-label" [ngClass]="{'bg-danger':((star<last)||(star==null))}">Star Time
                  </label>
                  <div class=" ">
                    <input type="time"  class="form-control"  [(ngModel)]="star" step=900 >
                    </div>            
              </div></div>
  
              <div class="form-group col-sm-6">
                <div class="form-group">
                    <label class="  control-label"[ngClass]="{'bg-danger':((star>=end)||(end==null))}" >End Time
                    </label>
                    <div class=" ">
                      <input type="time"  class="form-control"  [(ngModel)]="end" step=900 >
                      </div>            
                </div></div>
              <button type="button" [ngClass]="{'disabled': ((star>=end)||(star<last)||(star==null)||(end==null))}"
               class="btn btn-default form-control " (click)="addShift()"><i class="glyphicon glyphicon-plus"></i></button>   
             </div>
           <button type="button" [ngClass]="{'btn-success':(valid),'bg-danger disabled':!(valid)}" class="mb-xs mt-xs mr-xs btn " (click)="save()">Finish</button>
   
    

     </div>
   
    
  </section>
  
  