<section role="main" class="content-body">
  <header class="panel-heading">
    <div class="panel-actions">
      <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
      <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
    </div>
    <h2 class="panel-title">ShiftScheduler list</h2>
  </header>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table mb-none">
        <colgroup>
          <col />
          <col width="150px" />
          <col width="150px" />
          <col width="150px" />
          <col width="150px" />
          <col width="150px" />
          <col width="150px" />
          <col width="150px" />
        </colgroup>
        <thead>
          <tr>
            <th>TIME</th>
            <th *ngFor="let Day of shiftScheduler.shiftDayList">{{Day.dayInWeek}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td *ngFor="let Day of shiftScheduler.shiftDayList">
              <select multiple data-plugin-selectTwo class="form-control populate">
                <optgroup label="Employee name">
                  <option *ngFor="let user of users" value="user.userId">{{user.fullName}}</option>
                </optgroup>
              </select>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

