<section class="body">
    <!-- start: header -->
    <header class="header">
        <div class="logo-container">
            <a href="../" class="logo">
                <img src="assets/porto/images/Hospital_Logo.png" height="35" alt="Porto Admin" />
            </a>
            <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>
        <!-- start: search & user box -->
        <div class="header-right">
            <!-- <form action="pages-search-results.html" class="search nav-form">
                <div class="input-group input-search">
                    <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form> -->

            <span class="separator"></span>

            <div id="userbox" class="userbox" *ngIf="!user.roleId">
                <a [routerLink]="['/login']" class="login-block">
                    <i class="fa fa-user" aria-hidden="true" ></i>
                    <p >Login</p>
                </a>
            </div>
            <div id="userbox" class="userbox" *ngIf="user.roleId">
                <a href="#" data-toggle="dropdown">
                    <figure class="profile-picture">
                        <img src="assets/porto/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg"
                        />
                    </figure>
                    <div class="profile-info">
                        <span class="name">{{user.name}}</span>
                    </div>

                    <i class="fa custom-caret"></i>
                </a>

                <div class="dropdown-menu">
                    <ul class="list-unstyled">
                        <li class="divider"></li>
                        <li>
                            <a role="menuitem" tabindex="-1" [routerLink]="['/main']">
                                <i class="fa fa-cog" aria-hidden="true"></i> Manage</a>
                        </li>
                        <li>
                            <a role="menuitem" tabindex="-1" (click)="logout()">
                                <i class="fa fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end: search & user box -->
    </header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside id="sidebar-left" class="sidebar-left">

            <div class="sidebar-header">
                <div class="sidebar-title">
                    Navigation
                </div>
                <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <div class="nano">
                <div class="nano-content">
                    <nav id="menu" class="nav-main" role="navigation">
                        <ul class="nav nav-main">
                            <li class="nav-active">
                                <a [routerLink]="['/home/main']">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span>Home page</span>
                                </a>
                            </li>
                            <li class="nav-active">
                                <a [routerLink]="['/home/medical-booking']">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span>Medical examination booking</span>
                                </a>
                            </li>
                            <li class="nav-active">
                                <a [routerLink]="['/home/medical-detail']">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span>Medical examination booking detail</span>
                                </a>
                            </li>

                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-copy" aria-hidden="true"></i>
                                    <span>News</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li (change)="getCategoryList($event.target.value)" name="categoryId" *ngFor="let item of categoryList">
                                        <a  [routerLink]="['/home/news', item.categoryId]">
                                            {{item.categoryName}}
                                        </a>
                                    </li>
                                    
                                </ul>
                            </li>

                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-copy" aria-hidden="true"></i>
                                    <span>About us</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li (change)="getIntroduceList($event.target.value)" name="id" *ngFor="let item of introduceList">
                                        <a [routerLink]="['/home/introduce', item.id]" >
                                            {{item.title}}
                                        </a>
                                    </li>
                                    
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>

                <script>
                        // Preserve Scroll Position
                        // if (typeof localStorage !== 'undefined') {
                            // if (localStorage.getItem('sidebar-left-position')) {
                            //     var initialPosition = localStorage.getItem('sidebar-left-position'),
                            //         sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                            //     sidebarLeft.scrollTop = initialPosition;
                            // }
                        // }
                </script>

            </div>

        </aside>
        <!-- end: sidebar -->

        <section role="main" class="content-body" id="bodyContent">
            <header class="page-header">
                <h2>{{title}}</h2>
            </header>
            <router-outlet></router-outlet>
            <!-- end: page -->
        </section>
    </div>
</section>
<!-- <a type="button" class="btn btn-primary hidden-xs" [routerLink]="['/login']">Login</a>
<a type="button" class="btn btn-primary hidden-xs" [routerLink]="['/medical-booking']">Medical</a>
<a type="button" class="btn btn-primary hidden-xs" [routerLink]="['/medical-detail']">Medical Detail</a> -->