<div class="container" style="width: 100%">
  <header class="page-header">
    <h2>Medical Booking</h2>
  </header>
  <div class="row">

    <div class="col-md-12">

      <section class="panel">
        <header class="panel-heading">
          <h2 class="panel-title">List Medical Booking</h2>
        </header>
        <div class="panel-body">
          <!-- <div class="row">
            <div class="col-sm-6">
              <div class="mb-md">
                <button class="btn btn-primary" [routerLink]="['/main/manage-category']">Add
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-4">
              <label class="col-sm-3 control-label">
                <h5>
                  <strong>Search: </strong>
                </h5>
              </label>
              <div class="col-sm-9">
                <div class="mb-md">
                  <input type="text" class="form-control" (input)="search($event.target.value)">
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered table-striped mb-none display">
              <colgroup>
                <col width="150px" />
                <col width="850px" />
                <col width="150px" />
                <col width="50px" />
              </colgroup>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Department</th>
                  <th>Service</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Identity</th>
                  <th>Created Date</th>

                </tr>
              </thead>
              <tbody *ngIf="medicalBookingList?.length">
                <tr *ngFor="let item of medicalBookingList | filter:term | paginate: { itemsPerPage: 10, currentPage: p }" class="gradeX">
                  <td>{{item.guestName}}</td>
                  <td>{{item.departmentName}}</td>
                  <td>{{item.serviceName}}</td>
                  <td>{{item.date}}</td>
                  <td>{{item.time}}</td>
                  <td>{{item.guestPhone}}</td>
                  <td>{{item.guestAddress}}</td>
                  <td>{{item.guestEmail}}</td>
                  <td>{{item.guestIdentity}}</td>
                  <td>
                    {{item.createDate}}
                  </td>

                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-4 col-md-offset-8" style="padding-top: 20px;">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>