<div class="container" style="width: 100%">
  <header class="page-header">
    <h2>Medical Booking</h2>
  </header>
  <div class="row">

    <div class="col-md-12">
      <section class="panel">
        <header class="panel-heading">
          <h2 class="panel-title">Medical Booking Detail</h2>
        </header>
        <div class="panel-body">
          <div class="col-sm-6">

            <div class="row">
              <div class="col-md-12">
                <label class="col-sm-3 control-label">
                  <h5>
                    <strong>Department: </strong>
                  </h5>
                </label>
                <div class="col-sm-7">
                  <select [(ngModel)]="departmentIdChange" class="form-control" (change)="changeService(departmentIdChange)">
                    <option *ngFor="let dept of departmentList" [ngValue]="dept.departmentId">{{dept.departmentName}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="(departmentIdChange != null)">
              <div class="col-md-12">
                <label class="col-sm-3 control-label">
                  <h5>
                    <strong>Service: </strong>
                  </h5>
                </label>
                <div class="col-sm-7">
                  <select [(ngModel)]="serviceIdChange" class="form-control" (change)="changeDate(serviceIdChange)">
                    <option *ngFor="let service of serviceList" [ngValue]="service.serviceId">{{service.serviceName}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="(serviceIdChange != null)">
              <div class="col-md-12">
                <label class="col-sm-3 control-label">
                  <h5>
                    <strong>Date: </strong>
                  </h5>
                </label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <input type="date" class="form-control" [(ngModel)]="data.time" (change)="selectTime()" name="time" id="dayTime">
                  </div>
                </div>
              </div>
            </div>


            <div class="row" *ngIf="(medicalBookingList != null)">
              <div class="col-md-12">
                <label class="col-sm-3 control-label">
                  <h5>
                    <strong>Search: </strong>
                  </h5>
                </label>
                <div class="col-sm-7">
                  <div class="mb-md">
                    <input type="text" class="form-control" (input)="search($event.target.value)">
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="row" *ngIf="(medicalBookingList?.length == 0)">
                <div class="col-md-12">
                  <label class="col-sm-12 control-label">
                    <h5>
                      <strong>No appointments are registered on this date!</strong>
                    </h5>
                  </label>              
                </div>
              </div> -->

            <div class="table-responsive col-sm-10 table-wrapper-2" *ngIf="(medicalBookingList != null)">
              <table class="table table-bordered table-striped mb-none display table-responsive-md">
                <colgroup>
                  <col width="100px" />
                  <col/>
                  <col width="50px" />
                </colgroup>
                <thead class="mdb-color lighten-4">
                  <tr>
                    <th class="th-lg">Booking number</th>
                    <th class="th-lg">Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody *ngIf="medicalBookingList?.length">
                  <tr *ngFor="let item of medicalBookingList" class="gradeX">
                    <th scope="row">{{item.bookingNumber}}</th>
                    <td>{{item.guestName}}</td>
                    <td class="actions-hover" style="text-align: center;">
                      <a (click)="loadBookingDetail(item.bookingNumber)">
                        <i class="fa fa-file-text"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-6" *ngIf="medicalBooking != null">
            <div class="row">
              <div class="col-lg-12">
                <section class="panel">

                  <header class="panel-heading">
                    <h2 class="panel-title">Patient detail</h2>
                  </header>

                  <div class="panel-body">
                    <form class="form-horizontal form-bordered" method="get">

                      <div class="form-group">
                        <label class=" col-md-3 control-label" style="font-size: 4em;">{{medicalBooking.bookingNumber}}</label>
                        <div class="col-lg-6">

                        </div>
                      </div>

                      <div class="form-group">
                        <label class=" col-md-3 control-label">Full name: </label>
                        <div class="col-lg-6">
                          <p class="form-control-static">{{medicalBooking.guestName}}</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class=" col-md-3 control-label">Phone: </label>
                        <div class="col-lg-6">
                          <p class="form-control-static">{{medicalBooking.guestPhone}}</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class=" col-md-3 control-label">Address: </label>
                        <div class="col-lg-6">
                          <p class="form-control-static">{{medicalBooking.guestAddress}}</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class=" col-md-3 control-label">Identity: </label>
                        <div class="col-lg-6">
                          <p class="form-control-static">{{medicalBooking.guestIdentity}}</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class=" col-md-3 control-label">Email: </label>
                        <div class="col-lg-6">
                          <p class="form-control-static">{{medicalBooking.guestEmail}}</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class=" col-md-3 control-label">Department: </label>
                        <div class="col-lg-6">
                          <p class="form-control-static">{{medicalBooking.departmentName}}</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class=" col-md-3 control-label">Service: </label>
                        <div class="col-lg-6">
                          <p class="form-control-static">{{medicalBooking.serviceName}}</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class=" col-md-3 control-label">Booked date: </label>
                        <div class="col-lg-6">
                          <p class="form-control-static">{{medicalBooking.createDate}}</p>
                        </div>
                      </div>
                    </form>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>