<div class="row">
  <div class="col-lg-12">
      <header class="page-header">
          <h2>Medical examination booking detail</h2>
    
          <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
              <li>
                <a href="index.html">
                  <i class="fa fa-home"></i>
                </a>
              </li>
              <li>
                <span>Medical examination booking detail</span>
              </li>
            </ol>
    
          </div>
        </header>
    <section class="panel">
      <header class="panel-heading">

        <h2 class="panel-title">Input your phone number:</h2>
        <form class="search nav-form">
          <div class="input-group input-search" style="padding-top: 10px">
            <input type="text" class="form-control" name="identity" id="identity" placeholder="Search..." (keyup.enter)="submitIdentity()" [(ngModel)]="identity" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" (click)="submitIdentity()">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      </header>
      <div class="panel-body" >
        <p id="searchRes" hidden>No matches</p>
        <form class="form-horizontal form-bordered" method="get" *ngIf="guest" >
                    <div *ngFor="let item of guest">
          <div class="form-group">
            <label class="col-md-3 control-label" for="inputSuccess">Department:</label>
            <label class="col-md-6 label-value">
              {{item.departmentName}}
            </label>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label" for="inputSuccess">Service:</label>
            <label class="col-md-6 label-value">
              {{item.serviceName}}
            </label>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Day:</label>
            <label class="col-md-6 label-value">
              {{item.date}}
            </label>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label" for="inputSuccess">Time:</label>
            <label class="col-md-6 label-value">
              {{item.time}}
            </label>
          </div>
          ---------------------------------------------------
        </div>
        </form>
      </div>
      <!-- <a href="index.html">
        <i class="fa fa-angle-left"></i> Back</a> -->
    </section>
    <footer class="panel-footer">
      <div class="row">
          <div class="col-sm-9 col-sm-offset-1">
              <a class="btn btn-default" href="index.html">
                  <i class="fa fa-angle-left"></i>
                  Back</a>
          </div>
      </div>
  </footer>
  </div>
</div>